@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600&display=swap');

html {
  scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --fontsize-text: 18px;
    --img-size-width: 200px;
    --bg-color: #DBC48E;
    --bg-color2: #DDD4C3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    font-size: var(--fontsize-text);
    background-color: var(--bg-color);
}

ul {
    display: flex;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}

a:hover {
  text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
  font-size: 50px;
}

#about {
  background-color: var(--bg-color2);
}

main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

img:not(.vinyl) {
    width: var(--img-size-width);
    border-radius: 20px;
}

#about {
  display: flex;
}

.vinyl {
  width: 400px;
}

figcaption {
  font-size: 12px;
}

.genres {
  display: flex;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.oval {
  border-radius: 20px;
  background-color: var(--bg-color2);
  padding: 0 10px;
  color: black;
}

.album {
  color: white;
  padding: 12px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.one {
  background-color: #36413E;
}

.two {
  background-color: #2E2E2E;
  flex-direction: row-reverse;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
  header {
    font-size: 14px;
  }
  .logo {
    font-size: 40px;
  }
  .vinyl {
    width: 200px;
  }
  .album1 {
    justify-content: center;
  }
}


/** NORMALIZE CSS*/

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

 html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  /* Sections
     ========================================================================== */
  
  /**
   * Remove the margin in all browsers.
   */
  
  body {
    margin: 0;
  }
  
  /**
   * Render the `main` element consistently in IE.
   */
  
  main {
    display: block;
  }

  /* Text-level semantics
     ========================================================================== */
  
  /**
   * Remove the gray background on active links in IE 10.
   */
  
  a {
    background-color: transparent;
  }

  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
  
  b,
  strong {
    font-weight: bolder;
  }

  /**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
  }